# 针对pnpm的配置
# 1、锁文件配置
# 每个分支都有自己的锁文件
# git-branch-lockfile=true

# 2、注册源
# 腾讯
registry=https://mirrors.cloud.tencent.com/npm/
# 淘宝
# registry=https://registry.npmmirror.com/
# 私有源
# @kd:registry=http://192.168.12.201:4873/

# 3、命令行设置
# 避免安装不兼容的依赖，根据package.json 中的engines 字段进行检查
engine-strict=true

# 4、node 设置
# 项目运行时的node版本
use-node-version>=18.12.0
# 安装依赖需要兼容的node版本
node-version>=18.12.0
# 指定下载node 时的镜像，用阿里的
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/

# 5、peerDependencies设置
